html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

main {
  height: 98dvh;
  width: 98dvw;
  background-color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3dvw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header-bar {
  background-color: gray;
  height: 5dvh;
  width: 100%;
  border-top-left-radius: 3dvw;
  border-top-right-radius: 3dvw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.app-title {
  margin-left: 2dvw;
  font-family: "Aptos", "Arial", sans-serif;
  font-weight: bold;
  font-size: 4dvh;
}

.dot-container {
  display: flex;
  align-items: center;
  gap: 1dvw;
  padding-right: 1.5dvw;
}

.dot {
  height: 3dvh;
  width: 3dvh;
  border-radius: 50%;
}

.content-area {
  display: flex;
  height: calc(100% - 5dvh);
  width: 100%;
}

.sidebar {
  background-color: #e5e5e5;
  width: 20dvw;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Aptos", "Arial", sans-serif;
  gap: 3dvh;
}

.sidebar-item {
  cursor: pointer;
  background-color: skyblue;
  height: 7dvh;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5dvw;
  box-sizing: border-box;
}

.title {
  font-size: 5dvw;
  font-family: "Arial", sans-serif;
  text-align: center;
  margin: 0;
  margin-bottom: 3dvh;
}

.panel {
  flex: 1;
  display: flex;
  flex-direction: column; /* STACK VERTICAL */
  justify-content: flex-start; 
  align-items: center; /* CENTER EVERYTHING HORIZONTALLY */
  padding-top: 5px;
  position: relative;
}

.logo-img {
  height: 20dvw;
  width: 20dvw;
  margin-bottom: 2dvh;
}

.install-button {
  border: none;
  background-color: lightgreen;
  font-size: 3dvw;
}

.advanced-href {
  bottom: 0;
  left: 0;
  position: absolute;
  font-size: 1dvw;
}
